@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    font-family: 'poppins', serif;
  
}

header {
    width: 100%;
    height: 80px;
    background-color: chocolate;
    background-image: url("https://i.pinimg.com/736x/17/78/a9/1778a9a311769df94783691986c1734c.jpg");
    z-index: 12;
    position: fixed;  
}
.marinaraLogo {
    line-height: 60px;
    float: left;
    margin: 16px 46px;
    border-radius: 0.5%;
    color: chocolate;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}


nav {
    width: 100%;
    line-height: 60px;
    top: 0;
    left:0;
    overflow: hidden;
}
  

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 30px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 16px 40px;;
}

nav ul li a {   
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover {
   background-color: gray;
   padding: 10px;
}
.homePageSection {
    /*background: url("../img/Wallpaper.jpg");*/
    -webkit-background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
}

.bSection{
    width: 100%;
    height: 90vh; 
    position: fixed;
    top: 80px;
    text-align: center;
    background: url("../img/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
}
.bSection h4 {
    text-decoration: underline;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes bop {
    0% {
      transform: scale(0.9);
    }
    50%,
    100% {
      transform: scale(1);
    }
}
  
  @keyframes bopB {
    0% {
      transform: scale(0.9);
    }
    80%,
    100% {
      transform: scale(1) rotateZ(-3deg);
    }
}

.bSection h1{
    color:#fff;
    padding-top: 10%;
}

.bSection > button{
    padding: 6px;
    margin-top: 3%;
    border-radius: 50px;
    outline: none;
    font-size: 20px;
    background-image: url("https://i.pinimg.com/736x/95/32/cd/9532cd2d949214d2bdd59e2cbac0f56d.jpg");
    justify-content: center;
    padding: 30px;
    color: chocolate;
}

.bSection > button:hover{
    transform: scale(0.3s);
    border-radius: 0.5%;
  }

.bSection::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.3;
}

.bSection > *{
    position: relative;
    z-index: 100;
}

.navigationIcon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


@media(max-width: 786px) {

    .marinaraLogo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .navigationIcon {
          display: block;
    }

}


.block{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.block span:nth-child(2){
    animation-delay:-0.2s;
    
}

.block span:nth-child(3){
    animation-delay:-0.4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform:rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:rotate(45deg) translate(20px, 20px);
    }
}
.our-story{
    text-align: center;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 1.8;
    padding-bottom: 30px;
    padding-top: 30px;   
}
.ourStorySection{
    background-color:#f5f5f5;
    height: 50vh;
}
.our-storyheading h2 {
    color:chocolate;
    font-weight: bolder;
}
.our-storyheading p {
    color: white;
    font-weight: bold;
}

#menu {
    color: chocolate;
    font-weight: bolder;
}
.moranaraMenu {
    background-color: #f5f5f5;

}

.card{
    width: 18rem;
    margin-top: 40px;
    background-color: #f5f5f5;
}

/*locations*/
#contact {
    color:chocolate;
    font-weight: bolder;
}
.area{
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 3rem;
    background-blend-mode: multiply;
    
}

.area::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.5;
}

.area > *{
    position: relative;
    z-index: 5;
}

.content{
    width:300px;
    padding:30px;
    margin: 2rem auto;
    border-radius: 5%;
    background-color: darkgray;
    font-style: italic;
    color: burlywood;
    box-shadow: 2px 2px chocolate;
  
}

.loc-title{
    padding-top: 40px;
    color: #fff;
    font-size: 3rem;
}

/* jobs */
.jobs > button{
    padding: .5rem;
    margin-top: 1rem;
    background-color: saddlebrown;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.icons{
    padding-top: 20px;
    padding-bottom: 30px;
    margin: .2rem auto;
}


footer{
    padding: 8px;
    color: #fff;
}


