@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    font-family: 'poppins', serif;
  
}

header {
    width: 100%;
    height: 80px;
    background-color: chocolate;
    background-image: url("https://i.pinimg.com/736x/17/78/a9/1778a9a311769df94783691986c1734c.jpg");
    z-index: 12;
    position: fixed;  
}
.marinaraLogo {
    line-height: 60px;
    float: left;
    margin: 16px 46px;
    border-radius: 0.5%;
    color: chocolate;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}


nav {
    width: 100%;
    line-height: 60px;
    top: 0;
    left:0;
    overflow: hidden;
}
  

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 30px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 16px 40px;;
}

nav ul li a {   
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover {
   background-color: gray;
   padding: 10px;
}
.homePageSection {
    /*background: url("../img/Wallpaper.jpg");*/
    -webkit-background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
}

.bSection{
    width: 100%;
    height: 90vh; 
    position: fixed;
    top: 80px;
    text-align: center;
    background: url("../img/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
}
.bSection h4 {
    text-decoration: underline;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}